@font-face
  font-family Inconsolata
  font-style normal
  src url(/fonts/inconsolata.woff)

@import flexbox_convenience
@import home
@import art

html, body
  min-height 100%
  padding 0
  margin 0
  font-family Inconsolata
  overflow hidden

.main-content
  overflow-y auto

.main-content > div
  flex-basis 960px
  padding 0 10px

body > header, body > footer
  padding 5px
  
