extend ../../../templates/image.pug

block small_image
  a(href="http://images.andyshort.website/art/animated/fpb.gif")
    img(src="http://images.andyshort.website/art/animated/fpb.gif")

block description
  .description
    | This is the logo for some band.  The color of each moving band shifts 
    | as it moves towards the center.  For maximum impact, view this image 
    | on a black background.
