extend ../../../templates/image.pug

block small_image
  a(href="http://images.andyshort.website/art/animated/light_bulb.gif")
    img(src="http://images.andyshort.website/art/animated/light_bulb_small.gif")

block description
  .description
    | Made in collaboration with 
    a(href="http://calebfleisher.com") Caleb Fleisher
    | .
