extend ../../../templates/image.pug

block small_image
  a(href="http://images.andyshort.website/art/animated/tyson.gif")
    img(src="http://images.andyshort.website/art/animated/tyson_small.gif")

block description
  .description
    | model: Tyson Smith
    br
    | photographer: Martin Celt
    br
    | supplemental image processing: Justin MacDonald
