html
  include ../includes/head.pug
  body.flex-column
    include ../includes/header.pug
    
    section.main-content.flex-1
      block main_content
        // main content

    include ../includes/footer.pug
